page-warning {
  main {
    width: 1024px;
    height: 768px;
    margin: 0;
    background-color: #000000;
    ion-grid {
      width: 100%;
      height: 100%;
      margin: 0;
      background-image: url("../assets/imgs/Tirpitz-Back-6.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      ion-row {
        width: 100%;
        height: 100%;
        margin: 0;
        ion-col.Warning {
          width: 100%;
          height: 100%;
          margin: 0;
          .Content {
            width: 365px;
            height: 520px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 40px;
            border-style: solid;
            border-width: 5px;
            border-color: map-get($colors, TPyellow);
            .Icon {
              width: 250px;
              height: 250px;
              margin-left: auto;
              margin-right: auto;
              margin-top: 40px;
              background-image: url("../assets/imgs/Alert.svg");
              background-size: cover;
              background-repeat: no-repeat;
            }
            .Info {
              width: 340px;
              height: auto;
              margin-left: 10px;
              margin-right: 10px;
              p {
                font-size: 35px;
                color: map-get($colors, TPwhite);
              }
            }
          }
          .Button {
            width: 500px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 50px;
            border-style: solid;
            border-width: 5px;
            background-color: rgba(248, 215, 71, 0.10);
            box-shadow: 0 0 25px #f8d747;
            border-color: map-get($colors, TPyellow);
            color: map-get($colors, TPyellow);
            #Button {
              font-size: 5em;
              text-align: center;
              color: map-get($colors, TPyellow);
            }
          }
        }
      }
    }
  }
}
